<launch>
  <include file="$(find heron_gazebo)/launch/heron_world.launch"/>
  <include file="$(find reward_generator)/launch/reward_generator.launch"/>
  <include file="$(find cmd_smoother)/launch/smooth.launch"/>
  <include file="$(find rl_server)/launch/start_server.launch"/>
  <include file="$(find velocity_proj)/launch/velproj.launch"/>
</launch>
